*{
    margin: 0;
    padding: 0;
}
/* #box {
    position: relative;
    height: 75px;
    width: 200px;
    border: 2px solid #000;
    border-radius: 1em;
    top: 50px;
    left: 30%;
}
p {
    font-size: 1.2em;
    position: absolute;
    right: -50%;
    font-weight: bold;
} */
#header {
    display: flex;
}