/* NAV HOVER 1920 */
@media (min-width: 1200px) {
    
}
/* MEDIA MACBOOK 1440px */
@media (max-width: 1440px) {
    #img_box a img {
        width: 300px;
    }
}
/* MEDIA HALF SCREEN 1200px */
@media (max-width:1200px) {
    /* HEADER CSS */
    #button_top {
        height: 50px;
        width: 50px;
    }
    #button_top img {
        width: 45px;
        margin-bottom: 12px;
    }
    #logo {
        width: 300px;
    }
    #logo img {
        width: 300px;
        margin-top: 5px;
    }
    #nav_bar {
        width: 100%;  
        height: 100px;
    }
    #nav_menu {
        position: static;
        margin: auto;
        margin-right: 20px;
    }
    #nav_menu li a {
        font-size: 20px;
    }
    /* CONTENT CSS */
    #about {
        width: 90%;
        height: 450px;
        margin-top: 100px;
    }
    #about_picture img {
        height: 450px;
        width: 600px;
    }
    #text_box {
        width: 400px;
        height: 220px;
        top: 100px;
        line-height: 1.5em;
    }
    #text_box h2 {
        font-size: 1.4em ;
    }
    #text_box h1 {
        font-size: 2.25em;
        margin: 15px 5px;
    }
    #concept_text {
        margin-bottom: 5px;
    }
    #concept_button {
        height: 30px;
    }
    #img_gallery {
        margin-top: 100px;
    }
    #img_box a img {
        width: 250px;
    }
    .title_box {
        height: 100px;
        width: 100%;
        padding-top: 20px;
    }
    .title {
        margin: 0 auto;
        width: 350px;
        height: 80px;
        font-size: 2.25em;
        font-weight: bold;
        background-color: #F7D9BE;
        border-radius: 1.5em;
        text-align: center;
        line-height: 80px;
    }
    #menu {
        width: 90%;
        margin-top: 100px;
    }
    #drink_menu {
        width: 100%;
        height: 450px;
        margin-top: 50px;
    }
    #drink_img img {
        height: 450px;
        width: 600px;
    }
    #drink_text_box {
        width: 400px;
        height: 220px;
        top: 100px;
    }
    #drink_text_box h2 {
        font-size: 1.4em;  
        margin: 0;
    }
    .menu_button {
        height: 30px;
    }
    .menu_table {
        font-size: 1em;
    }
    .item, .price {
        height: 40px
    }
    
    #dessert_menu {
        width: 100%;
        height: 450px;
        margin-top: 50px;
    }
    #dessert_img img {
        height: 450px;
        width: 600px;
    }
    #dessert_text_box {
        width: 400px;
        height: 220px;
        top: 100px;
    }
    #dessert_text_box h2 {
        font-size: 1.4em;  
        margin: 0;
    }
    #event {
        width: 90%;
        margin-top: 100px;
    }
    #event_content {
        margin-top: 50px;
        width: 100%;
        height: 450px;
    }
    #event_text_box {
        height: 450px;
        width: 475px;
    }
    #event_text_box h2 {
        font-size: 1.4em;
        margin: 20px auto;
    }
    #event_text_box p {
        font-size: 1em;
        margin: 5px 30px;
    }
    #event_img_box {
        width: 400px;
        height: 360px;
        top: 40px;
    }
    #event_img_box img {
        width: 350px;
        margin: 55px 20px;
        /* filter: drop-shadow(5px 5px 10px #000000); */
    }
    #contact {
        margin-top: 100px;
        width: 90%;
    }
    #contact_content {
        margin-top: 50px;
        width: 100%;
        height: 450px;
    }
    #contact_map iframe {
        height: 450px;
        width: 600px;
    }
    #contact_text_box {
        width: 400px;
        height: 400px;
        top: 25px;
    }
    #contact_text_box h2 {
        font-size: 1.4em;
        margin: 10px;
        margin-top: 20px;
    }
    #contact_text_box ul {
        font-size: 18px;
        margin: 10px;
        padding: 0 15px;
    }
    #contact_text_box li {
        font-size: 16px;
    }
    #time_table {
        font-size: 16px;
    }
    /* FOOTER CSS */
    #footer_box {
        width: 100%;
    }
    #left {
        flex: none;
    }
    #middle_box {
        margin-left: 20px;
        padding: 0;
    }
    #middle_box ul {
        padding-left: 0;
    }
    #right {
        margin-top: 50px;
        margin-left: 30px;
        display: flex;
    }
    #right ul {
        padding: 0;
    }
    #icon_box {
        display: unset;
        width: 60px;
    }
    #icon_box img {
        margin: 10px;
        margin-right: 0;
    }
}
/* MEDIA TABLET 768px */
@media (max-width: 768px) {
    /* HEADER CSS */
    #logo {
        margin-left: 20px;
        height: 100px;
        width: 100px;
    }
    #logo_web{
        display: none;
    }
    #logo_768 img {
        height: 100px;
        width: 100px;
        display: unset;
    }
    /* CONTENT CSS */
    #about {
        width: 100%;
    }
    #about_picture {
        margin: 0 auto;
        width: 95%;
        height: 450px;
    }
    #about_picture img {
        width: 95%;
    }
    #text_box {
        width: 400px;
        height: 220px;
        margin: 0 auto;
        left: 0;
        top: 160px;
        line-height: 1.5em;
    }
    #img_box a img {
        width: 200px;
    }
    #drink_img {
        margin: 0 auto;
        width: 95%;
        height: 450px;
    }
    #drink_img img {
        width: 95%;
    }  
    #drink_text_box {
        width: 380px;
        height: 220px;
        margin: 0 auto;
        left: 0;
        top: 160px;
    }
    #dessert_img {
        margin: 0 auto;
        width: 95%;
        height: 450px;
    }
    #dessert_img img {
        width: 95%;
    }
    #dessert_text_box {
        width: 380px;
        height: 220px;
        right: 0;
        margin: 0 auto;
        top: 160px;
    }
    #event_text_box {
        height: 450px;
        width: 400px;
    }
    #event_text_box p {
        font-size: 1em;
        margin: 5px 30px;
    }
    #point_card {
        display: none;
    }
    #event_img_box {
        width: 200px;
        height: 261px;
        padding: 0;
        background-color: transparent;
    }
    #event_img_box img {
        width: 250px;
        margin: 0;
    }
    #event_text_box h2 {
        margin-bottom: 5px;
    }
    #point_card_768 {
        display: unset;
    }
    #contact_content {
        height: auto;
        margin-top: 20px;
    }
    #contact_map {
        height: 250px;
        margin: 0 auto;
        width: 95%;
    }
    #contact_map iframe {
        margin-top: 20px;
        position: static;
        height: 250px;
        width: 100%;
    }
    #contact_text_box {
        position: static;
        width: 500px;
        height: 400px;
        margin: 0 auto;
        padding-top: 20px;
    }
    /* FOOTER CSS */
    #footer {
        height: 400px;
    }
    #footer_box {
        height: 400px;
        width: 100%;
    }
    #left {
        display: unset;
        flex: none;
    }
    #information_box {
        text-align: center;
    }
    #information_box li {
        text-align: left;
    }
    #middle_box {
        margin-left: 20px;
        padding: 0;
        margin-top: 0;
        margin-left: 40px;
    }
    #middle_box ul {
        text-align: left;
    }
    #middle_box li {
        text-align: right;
    }
    #right {
        margin-top: 100px;
        margin-left: 10px;
        display: flex;
    }
    #right ul {
        padding: 0;
    }
    #right ul span{
        font-size: 20px;
    }
    #right ul li {
        margin-top: 20px;
    }
    #icon_box {
        display: unset;
        width: 60px;
    }
    #icon_box img {
        margin: 0px;
        margin-top: 25px;
        margin-right: 0;
    }
}
@media (max-width: 450px) {
    /* HEADER CSS */
    #logo {
        display: none;
    }
    #nav_menu {
        width: 100%;
        height: 75px;
        width: 100%;
        margin: 0;
        background: rgba(0, 0, 0, 0.2);
    }
    #nav_menu li {
        flex: 20%;
    }
    #nav_menu li a {
        font-size: 16px;
        text-align: center;
        line-height: 75px;
        padding: 10px;
    }
    #main_visual {
        display: none;
    }
    #sub_logo {
        display: block ;
        position: static;
        width: 60%;
        margin: 0 auto;
    }
    #index_banner_text {
        width: 90%;
        display: block;
        position: static;
        margin: 0 auto;
    }
    /* CONTENT CSS */
    #about {
        height: 250px;
    }
    #about_picture {
        margin: 0 auto;
        height: auto;
        width: 95%;
    }
    #about_picture img {
        width: 95%;
        height: auto;
        margin: 0 auto;
    }
    #text_box {
        color: #fff;
        width: 95%;
        height: auto;
        margin: 0 auto;
        margin-top: 5px;
        padding: 0;
        top: 0;
        line-height: 1.5em;
        background-color: transparent;
        filter: drop-shadow(5px 5px 5px #000000);
    }
    #text_box h1 {
        margin: 5px;
    }
    #text_box h2 {
        display: none;
    }
    #concept_text span {
        display: none;
    }
    #concept_text {
        margin-left: 5px;
    }
    #img_box a img {
        width: 130px;
    }
    .title {
        width: 340px;
    }
    #menu {
        width: 100%;
    }
    .item, .price {
        height: 35px;
    }
    #drink_menu {
        height: 300px;
    }
    #drink_img {
        margin-top: 20px;
        height: 300px;
        width: 95%;
        margin: 0 auto;
    }
    #drink_img img {
        height: 95%;
        width: 95%;
        margin: 0 auto;
    }
    #drink_text_box {
        color: #fff;
        width: 95%;
        height: auto;
        margin: 0 auto;
        margin-top: 5px;
        padding: 0;
        left: 0;   
        top: 0;
        line-height: 1.5em;
        background-color: transparent;
        filter: drop-shadow(5px 5px 5px #000000);
    }
    #dessert_menu {
        height: 300px;
    }
    #dessert_img {
        margin-top: 20px;
        height: 95%;
        width: 95%;
        margin: 0 auto;
        position: relative;
    }
    #dessert_img img {
        height: 95%;
        width: 100%;
        margin: 0 auto;
    }
    #dessert_text_box {
        color: #fff;
        width: 95%;
        height: auto;
        margin: 0 auto;
        margin-top: 5px;
        padding: 0;
        top: 0;
        right: 0;
        line-height: 1.5em;
        background-color: transparent;
        filter: drop-shadow(5px 5px 5px #000000);
    }
    #event {
        width: 100%;
        height: 900px;
    }
    #event_content {
        margin-top: 20px;
    }
    #event_text_box {
        width: 95%;
        height: auto;
        margin: 0 auto;
        margin-top: 5px;
        padding: 0;
        top: 0;
        right: 0;
        line-height: 1.5em;
        filter: drop-shadow(5px 5px 5px #000000);
        position: static;
    }
    #event_text_box span {
        display: none;
    }
    #event_text_box p {
        font-size: 1em;
        margin: 5px 30px;
    }
    #point_card {
        display: none;
    }
    #event_img_box {
        width: 95%;
        height: auto;
        padding: 0;
        background-color: transparent;
        margin: 0 auto;
        position: static;
    }
    #event_img_box img {
        width: 100%;
    }
    #contact {
        width: 100%;
    }
    #contact_content {
        width: 95%;
        height: auto;
        margin-top: 20px;
        margin: 0 auto;
    }
    #contact_map {
        height: 250px;
        margin: 0 auto;
        width: 100%;
    }
    #contact_map iframe {
        position: static;
        height: 250px;
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
    }
    #contact_text_box {
        position: static;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* FOOTER CSS */
    #footer {
        height: auto;
        width: 100%;
    }
    #footer_box {
        height: auto;
        width: 95%;
        display: block;
    }
    #left {
        display: unset;
        flex: none;
    }
    #right {
        margin-top: 20px;
        margin-left: 50px;
        display: flex;
    }
}