body{
    margin: 0;
    padding: 0;
    background-color: #FDF6EF;
    background-image: url(../images/index-img/web.png);
    background-position: top left;
    background-repeat: repeat-y;
    font-family: "roboto", sans-serif;
    font-size: 16px;
}
#container {
    width: 100%;
    max-width: 1920px;
}
#header {
    width: 100%;
    position: relative;

}
#nav_bar {
    width: 1200px;
    height: 130px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
#logo {
    width: 338px;
    height: 100px;
    margin: auto 0;
}
ul {
    list-style-type: none;
}
#nav_menu {
    display: flex;
    height: 100px;
    margin: auto 0;
    position: relative;
    left: 150px;
    padding: 0;
}
#nav_menu li a{
    font-size: 25px;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    color: #000;
}
#banner {
    position: relative;
    width: 100%;
}
#banner img {
    width: 100%;
}
#index_banner_text {
    position: absolute;
    bottom: 215px;
    left: 215px;
    visibility: hidden;
}
#sub_logo {
    position: absolute;
    bottom: 215px;
    right: 200px;
    visibility: hidden;
}