body,html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #FDF6EF;
    background-image: url(../images/web.png);
    background-position: top;
    background-repeat: repeat;
    background-size: 100% 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
#container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
/* HEADER CSS STYLE */
#header {
    width: 100%;
    position: relative;

}
#nav_bar {
    width: 1200px;
    height: 130px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
#logo_768 img {
    display: none;
}
#logo {
    width: 338px;
    height: 100px;
    margin: auto 0;
}
ul {
    list-style-type: none;
}
#nav_menu {
    display: flex;
    height: 100px;
    margin: auto 0;
    position: relative;
    left: 150px;
    padding: 0;
}
#nav_menu li a{
    font-size: 25px;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    color: #000;
    position: relative;
    overflow: hidden;
}
#nav_menu li a::after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 0%;
    height: 3px;
    left: 12px;
    bottom: -100%;
    transition: all 0.3s ;
    overflow: hidden;
}
#nav_menu li a:hover::after {
    width: 80%;
    bottom: 20px;
}
#banner {
    position: relative;
    width: 100%;
}
#banner img {
    width: 100%;
}
#index_banner_text {
    position: absolute;
    bottom: 215px;
    left: 215px;
    display: none;
}
#sub_logo {
    position: absolute;
    bottom: 215px;
    right: 200px;
    display: none;
}
#button_top {
    position: fixed;
    z-index: 1500;
    height: 75px;
    width: 75px;
    left: 5%;
    bottom: 5%;
    background-color: #510909;
    border-radius: 1em;
    text-align: center;
    line-height: 75px;
    overflow: hidden;
}
#button_top::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #707070;
    bottom: -100%;
    left: 0;
    border-radius: 1em;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
#button_top:hover::before {
    bottom: 0;
}
#button_top a {
    z-index: 10;
}
/* CONTENT CSS STYLE */
#content {
    width: 100%;
}
.concept {
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 200px auto 0 auto;
}
.concept_picture_left {
    height: 600px;
    width: 800px;
    position: absolute;
    left: 0;
}
#text_box_1 {
    width: 500px;
    height: 300px;
    background-color: #FDF4EF;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 150px;
    line-height: 1.8em;
    border-radius: 2em;
    filter: drop-shadow(5px 5px 10px #000000);
    padding: 20px 30px 30px 30px;
}
#text_box_1 h2 {
    font-size: 32px;
    width: 230px;
    margin: 15px 0 0px 0;
}
#text_box_1 h1 {
    font-size: 48px;
    margin: 20px 0 15px 0;
}
.concept_text {
    font-size: 16px;
    margin-top: 35px;
}
.concept_picture_right {
    height: 600px;
    width: 800px;
    position: absolute;
    right: 0;
}
#text_box_2 {
    width: 500px;
    height: 300px;
    background-color: #FDF4EF;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 150px;
    line-height: 1.8em;
    border-radius: 2em;
    filter: drop-shadow(5px 5px 10px #000000);
    padding: 20px 30px 30px 30px;
}
#text_box_2 h1 {
    font-size: 48px;
    margin: 20px 0 20px 0;
}
#text_box_3 {
    width: 500px;
    height: 300px;
    background-color: #FDF4EF;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 150px;
    line-height: 1.8em;
    border-radius: 2em;
    filter: drop-shadow(5px 5px 10px #000000);
    padding: 20px 30px 30px 30px;
}
#text_box_3 h1 {
    font-size: 48px;
    margin: 50px 0 15px 0;
}
#text_box_4 {
    width: 500px;
    height: 300px;
    background-color: #FDF4EF;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 150px;
    line-height: 1.8em;
    border-radius: 2em;
    filter: drop-shadow(5px 5px 10px #000000);
    padding: 20px 30px 30px 30px;
}
#text_box_4 h1 {
    font-size: 48px;
    margin: 55px 0 20px 0;
}
/* FOOTER CSS STYLE */
#footer {
    margin-top: 70px;
    background-color: #FFF0E3;
    height: 300px;
}
#footer_box {
    height: 300px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
#left {
    display: flex;
    flex: 60%;
}
#left li {
    margin-top: 15px;
}
#middle_box {
    margin-top: 175px;
    margin-left: 50px;
    width: 240px;
    height: 75px;
}
#middle_box li {
    text-align: right;
    margin-top: 10px;
}
#middle_box span {
    font-weight: bold;
}
#right {
    margin-top: 45px;
}
#right li {
    margin-top: 10px;
}
#right li a {
    color: #000;
    text-decoration: underline;
}
#icon_box{
    display: flex;
}
#icon_box a {
    margin: 0 15px;
}